{% extends 'base.html' %}

{% block title %}
Family Banking System
{% endblock %}

{% block content %}
<div class="container">
    <h5>Welcome to FSB. This is an app where you can setup a family account and manage tasks and allowance for your child(ren) </h5>
    <p>Once, you have signed up, please log In to set your family account up and running!</p>
</div>
<div class="card">
    <h6>Create an account using the link below!</h6>
    <a class="" href="{% url 'signup' %}">SignUp</a>
</div>



{% endblock %}