
{% extends 'base.html' %}

{% block content %}

{% if errors %}
<p style="color: red;">{{errors}}</p>
{% endif %}
<form action="" method="POST" class="register">
    <legend>
        <h3>Sign Up</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="waves-effect waves-light btn grey darken-2" type="submit" value="Submit">
    </legend>
</form>
{% endblock %}



<!-- {% extends 'base.html' %}
{% load static %}


{% block content %}

    <h1>{{ username }}'s Tasks and Transactions</h1>

    {% for task in tasks %}
        <a href="/tasks/{{ task.id }}">
            <h3>{{ task.name }}</h3>
        </a>

    {% endfor %}

{% endblock %} -->






<!-- {% extends 'base.html' %}
{% load static %}


{% block content %}

    <h1>{{ username }}'s Tasks and Transactions</h1>

    {% for user in users %}
        <a href="/users/{{ user.id }}">
            <h3>{{ user.username }}</h3>
        </a>

    {% endfor %}

{% endblock %} -->