{% extends 'base.html' %}

{% block title %}
List of Tasks
{% endblock %}

{% block content %}


<form>
    <div>
        <!-- searches for the name of the tasks -->
        <input type="text" name="name" placeholder="name"/>
        <input type="submit" value="Search"/>
    </div>
    <!-- this a tag will redirect back to tasklist without a query param! be sure to use the "name" you called the route in your main_app/urls.py -->
    <a href="{% url 'task_list' %}">Clear Search</a>
</form>

<h3>{{header}}</h3>
    {% for task in tasks %}
    <h6>Name: {{task.name}} </h6>
    <h6>Amount: {{task.amount}} </h6>
    <h6>Due Date: {{task.duedate}} </h6>
    <h6>Status: {{task.status}} </h6>
    <p>Created by:
        <a href="/user/{{ task.user.username }}">{{ task.user.username }}</a>
    </p>
    
    {% endfor %}

{% endblock %}