{% extends 'base.html' %}

{% block content %}

<div>
    <h3>Name: {{task.name}} </h3>
    <h3>Amount: {{task.amount}} </h3>
    <h3>Due Date: {{task.duedate}} </h3>
    <h3>Status: {{task.status}} </h3>
    <h3>Assigned To: {{task.assigned_to}} </h3>
    <p>Created by:
        <a href="/user/{{ task.user.username }}">{{ task.user.username }}</a>
    </p>
    <h3>Toys owned:</h3>
    
    {% for transaction in transaction.transactions.all %}
        <div>{{ transaction.transaction_number }}</div>
    {% empty %}
        <div> {user.username} has no transactions 🙁</div>
    {% endfor %}
</div>
<div>
    <a href="{% url 'task_update' task.pk %}">Update</a>
    <a href="{% url 'task_delete' task.pk %}">Delete</a>
</div>

{% endblock %}



