{% extends 'base.html' %}

{% block content %}

<div>
    <h5>Name: {{task.name}} </h5>
    <h5>Amount: {{task.amount}} </h5>
    <h5>Due Date: {{task.duedate}} </h5>
    <h5>Description: {{task.description}} </h5>
    <h5>Task-Status: {{task.task_status}} </h5>
    <h5>Task-Approval: {{task.task_approval}} </h5>
    <h5>Assigned To: {{task.user.assigned_to}} </h5>
    <p>Created by:
        <a href="/user/{{ task.user.username }}">{{ task.user.username }}</a>
    </p>
    <h5>Transactions made:</h5>
    
    {% for transaction in task.transactions.all %}
        <div>{{ transaction.amount }}</div>
    {% empty %}
        <div> No transactions has been made for this task 🙁</div>
    {% endfor %}
</div>
<div>
    <a href="{% url 'task_update' task.pk %}">Update</a>
    <a href="{% url 'task_delete' task.pk %}">Delete</a>
</div>

{% endblock %}



